.btn-primary {
  font-family: "Sora", sans-serif;
  display: inline-block;
  border-radius: 0.5rem;
  letter-spacing: -0.01em;
  line-height: 100%;
  background-color: $brand-colors-pink;
  padding: 1.2rem 3.4rem;
  font-weight: 600;
  color: $gray-colors-100;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}